/*PRE-DEFINIÇÕES PADRÃO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "partials/colors";
@import "partials/header";


body{
    font-family: 'Sora', sans-serif;
    background-color: $primary-normal;
}

button{
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}